{% extends "base.html" %} 

 
{% block title %}Your Transactions{% endblock %}

{% block content %}
    <h2 style="font-size: 20px;">Track your outgoings</h2>
    <p style="font-size: 16px;">
        Start working out where your money goes.</p>
    <form method="POST">
        {{ form.hidden_tag() }} <!--protection-->
        <div>
            {{ form.income.label }}
            {{ form.income(class="input-style2")}}
        </div>
        <div>
            {{ form.rent.label }}
            {{ form.rent(class="input-style2" )}}
        </div>
        <div>
            {{ form.groceries.label }}
            {{ form.groceries(class="input-style2")}}
        </div>
        <div>
            {{ form.transport.label }}
            {{ form.transport(class="input-style2" )}}
        </div>
        <div>
            {{ form.entertainment.label }}
            {{ form.entertainment(class="input-style2")}}
        </div>
        <div>
            {{ form.eatingout.label }}
            {{ form.eatingout(class="input-style2")}}
        </div>
        <div>
            {{ form.other.label }}
            {{ form.other(class="input-style2")}}
        </div>
        <div>
            {{ form.submit(class="rounded-button")}}
        </div>
    </form>

{% endblock %}