{% extends "base.html" %} 

 
{% block title %}Your Transactions{% endblock %}

{% block content %}
    <h2 style="font-size: 20px;">Track your outgoings</h2>
    <p style="font-size: 16px;">
        Start working out where your money goes.</p>
    <form method="POST">
        {{ form.hidden_tag() }} <!--protection-->
        <div>
            {{ form.income.label }} <br>
            {{ form.income(size=10 )}}<br>
        </div>
        <div>
            {{ form.rent.label }} <br>
            {{ form.rent(size=10 )}}<br>
        </div>
        <div>
            {{ form.groceries.label }} <br>
            {{ form.groceries(size=10 )}}<br>
        </div>
        <div>
            {{ form.transport.label }} <br>
            {{ form.transport(size=10 )}}<br>
        </div>
        <div>
            {{ form.entertainment.label }} <br>
            {{ form.entertainment(size=10 )}}<br>
        </div>
        <div>
            {{ form.eatingout.label }} <br>
            {{ form.eatingout(size=10 )}}<br>
        </div>
        <div>
            {{ form.other.label }} <br>
            {{ form.other(size=10 )}}<br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

{% endblock %}