<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href= "static/style.css"> 
</head>
<body>
    <header>
        <h1> Budget Tracker</h1>
        <nav> <!--navigation tag-->
            <a style="color: #ff5c8a" href="/login">Login</a>         
            <a style="color: #ff5c8a" href="/dashboard">Dashboard</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Budget Tracker 𐙚</p> 
    </footer>
</body>
</html>