{% extends "base.html" %}

 
{% block title %}edit{% endblock %}

{% block content %}
    <h2>View and edit here</h2>

    <table>
        <tr>
            <th> Income </th>
            <th> Rent </th>
            <th> Groceries </th>
            <th> Transport </th>
            <th> Entertainment </th>
            <th> Eating out </th>
            <th> Other </th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.income }}</td>
                <td>{{ transaction.rent }}</td>
                <td>{{ transaction.groceries }}</td>
                <td>{{ transaction.transport }}</td>
                <td>{{ transaction.entertainment }}</td>
                <td>{{ transaction.eatingout }}</td>
                <td>{{ transaction.other }}</td>
                <td>
                    <a style="color: #ff5c8a" href="{{ url_for('edit_input', id=transaction.id)}}">Edit</a>
                    <form method="POST" action="{{ url_for('delete_input', id=transaction.id)}}">
                        <input type="submit" value="Delete" class="rounded-button";" onclick="return confirm('Are you sure? :)');">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

