{% extends "base.html" %}

 
{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login below</h2>  <!-- login form-->
    <body>
        <div class="signup">
        <form method="post">
        
        <hr>
            <label for="email"><b>Email</b>
        </label>
            <input type="text"
        placeholder="Enter Email" name="email"
        required>
        
            <label for="psw"><b>Password</b>
        </label>
            <input type="password"
        placeholder="Enter Password" name="psw"
        required>
        <div class="clearfix">
            <button type="button"
    onclick="document.getElementById(id01)"
    .style.display="none"
    class="cancelbtn">Cancel</button>
            <button type="submit"
    class="signupbtn">Login</button>
        </div>
    </form>
    </div>

        <p>&thinsp;</p> <!-- creating a thin space between values -->
        <div class="forgot"> Forgot Password? </div>
        <div class="users_signup">
        <p>Don't have an account? <a href="/signup">Sign up!</a></p> <!--link to sign up form-->
        </div>
        </div>
    </body>
{% endblock %}